@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&display=swap');

:root {
    --back-color-primary: #181818;
    --back-color-secondary: #1D1D1D;
    --back-color-third: #363636;
    --font-color-primary: #909090;
    --color-primary: #3369F3;
    --color-error: #BF3F3F;
}

.container-input {
    background-color: var(--back-color-third);
    border-radius: 15px;
    padding: 3px 15px;
}

.input-icon {
    width: 15px;
}

.input {
    outline: none;
    border: none;
    color: var(--font-color-primary);
    background-color: transparent;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn,
.btn-auth,
.button {
    outline: none;
    border: none;
    border-radius: 15px;
}

.btn,
.btn-auth{
    padding: 3px;
}

.btn {
    width: 100%;
}

.btn-primary,
.btn-secondary {
    margin: 10px 0 0 0;
}

.btn-primary {
    background-color: var(--color-primary);
    color: white;
}

.btn-secondary {
    border: 1px solid white;
    color: white;
    background-color: transparent
}

@import url('../components/topbar/styles.css');
@import url('../components/navbar/styles.css');
@import url('../components/dashboard/styles.css');
@import url('../components/table/styles.css');
@import url('../components/barActions/styles.css');
@import url('./auth.css');